<h2>Methods that were not run</h2><table>
<tr><td>TestProject.TestProject.AppTest.testCase1</td></tr>
<tr><td>TestProject.TestProject.AppTest.testCase2</td></tr>
<tr><td>TestProject.TestProject.AppTest.testCase5</td></tr>
<tr><td>TestProject.TestProject.AppTest.testCase3</td></tr>
</table>