<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="686bba">  <td>20/07/08 13:25:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.testCase1()[pri:0, instance:TestProject.TestProject.AppTest@243c4f91]">testCase1</td> 
  <td>main@2127036371</td>   <td></td> </tr>
<tr bgcolor="686bba">  <td>20/07/08 13:25:15</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.testCase2()[pri:0, instance:TestProject.TestProject.AppTest@243c4f91]">testCase2</td> 
  <td>main@2127036371</td>   <td></td> </tr>
<tr bgcolor="686bba">  <td>20/07/08 13:25:15</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.testCase3()[pri:0, instance:TestProject.TestProject.AppTest@243c4f91]">testCase3</td> 
  <td>main@2127036371</td>   <td></td> </tr>
<tr bgcolor="686bba">  <td>20/07/08 13:25:15</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.testCase5()[pri:0, instance:TestProject.TestProject.AppTest@243c4f91]">testCase5</td> 
  <td>main@2127036371</td>   <td></td> </tr>
<tr bgcolor="686bba">  <td>20/07/08 13:25:15</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.testcase4()[pri:0, instance:TestProject.TestProject.AppTest@243c4f91]">testcase4</td> 
  <td>main@2127036371</td>   <td></td> </tr>
</table>
